@charset "UTF-8";

.container {
    width: 960px;
    margin: 0 auto;
}

body {
    color: #707070;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.container header h1 {
    font-size: 35px;
    font-weight: normal;
}

.header-right {
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 100%;
}

.header-right li:nth-child(2) {
    margin: 0 27px;
}

.top-image {
    width: 100%;
}

.subtitle {
    font-size: 30px;
    font-weight: normal;
    padding: 30px;
}

.section {
    width: 960px;
}

.articles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* width: 960px; */
    margin-bottom: 20px;
}

.article-img {
    width: 100%;
    margin-bottom: 20px;
}

.article p {
    line-height: 30px;
}

.read-more {
    text-align: right;
}

.read-more a {
    text-decoration: none;
    color: skyblue;
}
.img-box{
    width: 300px;
    margin-top: 20px;
    text-align: center;
}

@media screen and (max-width: 960px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .header-right {
        display: none;
    }

    .subtitle {
        text-align: center;
    }

    .articles {
        width: 500px;
    }

    .img-box{
        width: 400px;
        margin-top: 20px;
        text-align: center;
    }
}


/* ここからコンタクトフォーム */
.contact {
    height: 700px;
}

.contact h2 {
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact .form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input {
    width: 65%;
    height: 7vh;
    margin-bottom: 2rem;
}

.form textarea {
    width: 65%;
    height: 40vh;
    display: flex;
    margin-bottom: 2rem;
}

.submit input {
    width: 620px;
    height: 50px;
    border-radius: .5rem;
    background-color: #8E8E8E;
    border: 0rem;
}

@media screen and (max-width: 600px) {
    .submit input {
        width: 150px;
        height: 50px;
        border-radius: .5rem;
        background-color: #8E8E8E;
        border: 0rem;   
    }

    .contact h2 {
        font-size: 2rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
        text-align: center;
    }
}


/* ここからフッター */
footer {
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}

footer p {
    margin-left: 10px;
}

@media screen and (max-width: 600px) {
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}